<!-- ko with: home -->
<br />
<br />
<div ng-app="QCSpaCore" class="col-lg-12">
    <div ng-controller="lineGraphController as LGC">
        <div style="height:300px; width:300px;">
            <nrdc-chart-module></nrdc-chart-module>
        </div>
    </div>
</div>



<!-- /ko -->
